/* Importing Poppins font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* Resetting default styles for all elements */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* Root level CSS variables for easy theming */
:root {
  --color-bg: #47474f;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
  --color-text: #b0c4b1;
}

/* HTML and body styles */
html {
  /* scroll-behavior: smooth; */
}

/* Removing scrollbar */
::-webkit-scrollbar {
  /* display: none; */
}
body {
  font-family: "Poppins", sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  margin: 0; /* Add margin: 0 to remove default body margin */
  padding: 0; /* Add padding: 0 to remove default body padding */
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.routine {
  min-height: 100vh; /* Use min-height instead of height */
  width: 100%;
  /* background-image: linear-gradient(to right, #434343 0%, black 100%); */
  overflow: hidden; /* Add overflow: hidden to ensure content doesn't overflow */
}

h1 {
  position: fixed;
  top: 2rem;
  width: 100%; /* Add width: 100% to span the full width */
  text-align: center; /* Center the text */
  z-index: 1000; /* Add a higher z-index to ensure it's above other elements */
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-large {
  /* position: absolute; */
  /* top: 6rem; */
  margin: 6rem auto;
  margin-bottom: 1rem;
  color: #2c2c6c;
  border-radius: 2rem;
  overflow: hidden;
  width: 80vw;
  height: 50vh;
  visibility: visible;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.table-mini {
  position: fixed;
  top: 6rem;

  border: 0.1px solid #21ab58;
  color: var(--color-text);
  font-size: larger;
  font-weight: 600;
  width: 80vw;
  height: 70vh;
  border-radius: 1.5rem;
  overflow: hidden;
  border-collapse: collapse;
  visibility: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 20px, rgba(0, 0, 0, 0.12) 0px 2px 4px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 6px 6px,
    rgba(0, 0, 0, 0.09) 0px 2px 2px;
}

.table-mini ul {
  height: 100%;
}
.table-mini ul li {
  cursor: pointer;
  width: 100%;
  margin: 0 auto;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  height: 100%;
  border-bottom: 2px solid #434343;
}

.table-mini ul li:hover {
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #3b7d59 36%, #514f21 93%);
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  background-color: #e6f7e3;
}

td:not(.days):hover {
  background-color: #b6eeaa;
  cursor: pointer;
}

th,
.days {
  background-color: #f2f2f2;
  font-size: x-large;
  font-weight: 700;
  color: #000;
  text-align: center;
}

.subject {
  font-size: large;
}
.subject_detail {
  position: absolute;
  top: 15rem;
  color: var(--color-bg-white);
  visibility: hidden;
  border: 2px solid black;
  background-color: #169348;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;

  border-radius: 2rem;
  padding: 1rem;
  max-width: 300px;
  height: 300px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

h2 {
  border-bottom: 2px solid gray;
  padding-bottom: 0.7rem;
}

button {
  padding: 0.7rem;
  font-size: medium;
  font-weight: 900;
  border-radius: 1rem;
  margin-top: 1rem;
  color: var(--color-text);
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  background-color: rgb(107, 56, 56);
  border: 2px solid rgb(21, 102, 37);
}
.subject_detail h2 {
  color: #000;
}
button:hover {
  color: var(--color-primary);
}

nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  height: 3rem;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
  background-color: #169348;
}
nav div {
  padding: 0.85rem;
}

nav div:hover,
nav div.active {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

@media screen and (max-width: 1024px) {
  .table-large {
    visibility: visible;
  }
  .table-mini {
    visibility: hidden;
  }
}

@media screen and (max-width: 800px) {
  .table-large {
    visibility: hidden;
  }
  .table-mini {
    visibility: visible;
  }
}
